@import '../../../_settings/var';

.a-logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 90px;
    width: auto;
    z-index: 21;
    transition: .25s ease-in-out 0s;
    @media (min-width: $bp-main) {
        left: 50%;
        height: 125px;
        transform: translateX(-50%);
    }
}