.posts {
    @media (min-width: $bp-main) {
        display: flex;
        justify-content: space-between;
    }
}

.posts--horizontal {
    flex-direction: column;
}

.posts--horizontal {
    .posts__item {
        width: 100%;
    }
}

.posts__item {
  margin-bottom: 43px;
  &:last-of-type {
    margin-bottom: 0;
  }
  
  @media (min-width: $bp-main) {
      width: calc((100% - 80px) / 3);
  }
  @media (min-width: $screen-lg) {
      width: calc((100% - 120px) / 3);
  }
}

.posts__image {
    max-width: 100%;
    margin-bottom: 20px;
    align-self: center;
    @media (min-width: $bp-main) {
      margin-bottom: 33px;
    }
}

.posts__title {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 3px;
    color: $white;
    margin-bottom: 20px;
    text-transform: none;
    @media (min-width: $bp-main) {
      font-size: 26px;
      line-height: 32px;
      min-height: 64px;
      margin-bottom: 36px;
    }
}

.posts__text {
    margin-bottom: 21px;
}

.posts__link {
    align-self: flex-start;
}

.posts__item--horizontal {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
    @media (min-width: $bp-main) {
        flex-direction: row;
        margin-bottom: 60px;
    }

    .posts__content {
        display: flex;
        flex-direction: column;
        @media (min-width: $bp-main) {
            margin-left: 20px;
        }
        @media (min-width: $screen-lg) {
            margin-left: 60px;
        }
    }

    .posts__image {
        margin-bottom: 25px;
    }

    .posts__title {
        font-size: 20px;
        margin-bottom: 21px;
        min-height: 0;
        text-transform: uppercase;
        @media (min-width: $bp-main) {
          font-size: 26px;
          line-height: 32px;
        }
    }
}
