body {
    font-family: $font-default;
    font-size: 1rem;
    font-weight: 400;
    color: $text-color;
    line-height: $line-height;
    box-sizing: border-box;
}

.heading {
    display: inline-block;
    position: relative;
    font-family: $font-headings;
    font-weight: 900;
    line-height: $line-height;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 5.5px;
    margin-bottom: 30px;
    z-index: 1;
    @media (min-width: $screen-sm) {
        font-size: 38px;
    }
}

.heading__content {
    @include underline($grey-lighter, 15px, 15px);
}

.heading--violet {
    .heading__content {
        @include underline($purple-lighter, 15px, 24px);
    }
}

.heading--turquoise {
    .heading__content {
        @include underline($turqoise-lighter, 15px, 24px);
    }
}

.heading--teal {
    .heading__content {
        @include underline($teal-lighter, 15px, 24px);
    }
}

.heading--blue {
    .heading__content {
        @include underline($blue-lighter, 15px, 24px);
    }
}

.heading--main {
    font-family: $font-decorative;
    font-weight: 400;
    font-size: 2.25rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    &:after {
        display: none;
    }
    @media (min-width: $bp-main) {
        font-size: 5.625rem;
    }
}

.paragraph {
    margin-bottom: 20px;
}

.link {
    color: $text-color;
    position: relative;
    text-decoration: none;
    @include underline($teal-lighter, 10px, 10px);
    &:hover, &:visited {
        color: $text-color;
    }
}