.btn {
    display: inline-block;
    min-width: 130px;
    padding: 15px 9px 13px;
    border-width: 5px;
    border-style: solid;
    font-family: $font-headings;
    font-weight: 900;
    line-height: 19px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 3px;
    cursor: pointer;
    transition: .2s ease-in;
}

.btn--primary {
    border-image: linear-gradient(45deg, #2E3134, #CE54DC);
    border-image-slice: 1;
    &:hover {
        background-image: linear-gradient(45deg, #2E3134, #CE54DC);
    }
}

.btn--secondary {
    border-image: linear-gradient(45deg, #2E3134, #42DCC3);
    border-image-slice: 1;
    &:hover {
        background-image: linear-gradient(45deg, #2E3134, #42DCC3);
    }
}

.btn--alter {
    border-image: linear-gradient(45deg, #6FF7E0 0%, #FC69EE 50%, #8519A3 100%);
    border-image-slice: 1;
    &:hover {
        background-image: linear-gradient(45deg, #6FF7E0 0%, #FC69EE 50%, #8519A3 100%);
    }
}