.btn {
    display: inline-block;
    min-width: 130px;
    padding: 15px 9px 13px;
    border-width: 5px;
    border-style: solid;
    font-family: $font-headings;
    font-weight: 900;
    line-height: 19px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 3px;
    cursor: pointer;
    transition: .2s ease-in;
}

.btn--primary {
    border-image: $gradient-violet;
    border-image-slice: 1;
    &:hover {
        background-image: $gradient-violet;
    }
}

.btn--secondary {
    border-image: $gradient-teal;
    border-image-slice: 1;
    &:hover {
        background-image: $gradient-teal;
    }
}

.btn--alter {
    border-image: $gradient-multicolor;
    border-image-slice: 1;
    &:hover {
        background-image: $gradient-multicolor;
    }
}