.newsletter__title {
    margin-bottom: 13px;
    color: $brown;
    @media (min-width: $screen-sm) {
        margin-bottom: -10px;
    }
}

.newsletter__form {
    @media (min-width: $screen-sm) {
        flex-direction: row;
        justify-content: flex-end;
    }
}

.newsletter__input {
    @media (min-width: $screen-sm) {
        margin-bottom: 0;
        width: 420px;
        border-width: 5px;
        font-size: 18px;
    }
}

.newsletter__button {
    @media (min-width: $screen-sm) {
        margin-left: 40px;
        align-self: stretch;
        font-size: 18px;
    }
}