.repertoire {
  @media (min-width: $bp-main) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.repertoire__heading {
  @media (min-width: $bp-main) {
    flex: 1 1 100%;
    z-index: 2;
  }

  @media (min-width: $screen-lg) {
    font-size: 110px;
  }
}


.repertoire__select {
  background-color: $lighter-grey;
  list-style-type: none;
  padding: 20px;
  max-height: 140px;
  overflow-y: auto;

  @media (min-width: $bp-main) {
    order: 2;
    width: 35%;
    max-width: 440px;
    max-height: 426px;
    padding-top: 60px;
    position: relative;
    top: -80px;
  }

  &::-webkit-scrollbar {
    width: 22px;
  }

  &::-webkit-scrollbar-track {
    background: $grey;
  }

  &::-webkit-scrollbar-thumb {
    background: $teal-lighter;
  }
}

.repertoire__select-item {
  font-family: $font-headings;
  font-size: 18px;
  letter-spacing: 4.5px;
  margin-bottom: 20px;
  @media (min-width: $bp-main) {
    font-size: 22px;
    margin-bottom: 10px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
