@import '../../../_settings/var';

.title {
  font-family: $font-decorative;
  font-weight: 400;
  font-size: 2.25rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  &:after {
      display: none;
  }
  @media (min-width: $bp-main) {
      font-size: 5.625rem;
  }
}
