.o-footer {
    background-color: $grey;
    color: $white;
    padding: 40px;
    @media (min-width: $bp-main) {
        padding-top: 67px;
        padding-bottom: 50px;
    }
}

.o-footer_content {
    @include wrapper();
    @media (min-width: $bp-main) {
        display: flex;
        flex-wrap: wrap;
    }
}

.o-footer_text {
    margin-bottom: 24px;
    @media (min-width: $bp-main) {
        width: 50%;
    }
}

.o-footer_version {
    font-family: $font-headings;
    font-size: 20px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    @media (min-width: $bp-main) {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.o-footer_links {
    flex: 1 1 100%;
    margin-top: 50px;
    text-align: center;
}

.o-footer_link {
    color: $white;
    font-family: $font-headings;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;

    &:hover {
        background-image: $gradient-multicolor;
        @include gradient-text();
    }
}
