@import './reset';
@import './var';
@import './mixins';
@import './fonts';

// Slick
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
    font-family: $font-default;
    font-size: 1rem;
    font-weight: 400;
    color: $text-color;
    line-height: $line-height;
    box-sizing: border-box;
}
