.artists {
    @media (min-width: $bp-main) {
        padding: 0 30px;
    }
    @media (min-width: $bp-main) {
        padding: 0 80px;
    }
}

.artists__item {
    text-align: center;
    @media (min-width: $bp-main) {
        display: flex !important;
        align-items: center;
        text-align: left;
    }
}

.artists__title {
    margin-bottom: 27px;
    font-size: 26px;
    @media (min-width: $bp-main) {
      font-size: 38px;
    }
}

.artists__bio {
    margin-bottom: 25px;
    text-align: left;
}

.artists__content {
    @media (min-width: $bp-main) {
        margin-left: 60px;
    }
}
