.t-post {
    background-color: $grey-lightest;

    .a-subtitle {
      font-size: 26px;
      line-height: 1.25;
      margin: 40px 0 20px;
      @media (min-width: $bp-main) {
        margin-top: 62px;
        font-size: 38px;
      }
    }

    .a-img {
      max-width: 100%;
      display: block;
      margin: 40px auto;
      @media (min-width: $bp-main) {
        margin: 47px auto;
      }
    }
}
