@import '../../../_settings/var';
@import '../../../_settings/mixins';

.m-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 30px 0 50px;
    background-color: $warm-grey;
    transition: .3s ease-in-out;
    z-index: 19;
    @media (min-width: $bp-main) {
        position: relative;
        top: auto;
        padding-top: 0;
        padding-bottom: 0;
        @include wrapper();
    }

    &.-active {
        top: 41px;
    }
}

.m-menu_list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: $bp-main) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}