.m-showsList {
    background-color: $lighter-grey;
    list-style-type: none;
    padding: 20px;
    max-height: 140px;
    overflow-y: auto;

    @media (min-width: $bp-main) {
      order: 2;
      width: 35%;
      max-width: 440px;
      max-height: 326px;
      padding-top: 60px;
      position: relative;
      top: -80px;
    }

    &::-webkit-scrollbar {
      width: 22px;
    }

    &::-webkit-scrollbar-track {
      background: $grey;
    }

    &::-webkit-scrollbar-thumb {
      background: $teal-lighter;
    }
  }
