@import '../../../_settings/var';

.o-postList {
    @media (min-width: $bp-main) {
        display: flex;
        justify-content: space-between;
    }

  &.-horizontal {
      flex-direction: column;
  }

  &.-horizontal {
      .m-post {
          width: 100%;
      }
  }
}
