@import '../../../_settings/var';
@import '../../../_settings/mixins';

.a-link {
  color: $text-color;
  position: relative;
  text-decoration: none;
  @include underline($teal-lighter, 10px, 10px);
  &:hover, &:visited {
      color: $text-color;
  }
}
